### <font color="brown">Problem Set 9: Pandas</font>

In [4]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

---

#### Problem 1

Given the following dataframe:

<pre>
data = pd.DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})
</pre>

A) Which of the following will make Yale an IVY, and NYU not an IVY, by
setting the respective NaNs to 'Yes' and 'No'?

1. data['IVY'] = data['IVY'].fillna(method='bfill')
2. data['IVY'] = data['IVY'].fillna(method='ffill')
3. data['IVY'] = data['IVY'].fillna('Yes')
4. None of the above

B) Write code that will give the desired result

---

#### Problem 2
Execute the code below to get a series called nums. <br>
Fill in the missing values (NaN) by the rounded off mean value of the series and get a subset of the series where the numbers are divisible by 3.

In [33]:
import pandas as pd
import numpy as np

In [40]:
from numpy import nan as NA
nums = pd.Series(np.random.randint(1, 10, 20))
for i in range(5):
    nums[np.random.randint(0, 20, 1)] = NA

---

#### Problem 3

Given the following series, keep only top 2 most frequent values as is, and replace everything else with 'Other'

<pre>
  ser = pd.Series(np.random.randint(1, 6, [12]))
</pre>

Hint: Use Series method <tt>isin</tt>

---

#### Problem 4

In the following Series, convert the first character of each word to uppercase. (Hint: the title() method of String converts the first letter of each word to uppercase, and all others to lowercase. Also try without using the title() method)

<pre>
   ser = pd.Series(['how', 'to easily', 'learn', 'spoken spanish'])
</pre>

---

#### Problem 5

Write code to pick words in a Series that contain at least 2 vowels.

---

#### Problem 6:

Perform the following actions on the DataFrame <tt>df</tt> that follows:

1. Count the number of missing (NaN) values in each column of df. Which column has the maximum number of missing values?

2. Replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median. 

3. You need to add a column 'Affordable' in the dataframe which has "Yes" or "No" values.<br>
For each row, the column value is determined as follows: 
- If Price is greater than 35, it is not affordable.
- If Price if less than equal to 35, check the horsepower and fuel tank capacity. For affordable, horsepower has to be greater than 150 and fuel tank has to be greater 14. 
- Finally you need the Passengers to be greater than equal to 4. 

Once the column is added, filter out the affordable (Yes) rows, and display the data sorted by price (High to Low).

4. Find the average city MPG of cars for each manufacturer

In [77]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i